<ion-view title="Charts" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-stats-bars"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="charts-heading4" style="color:#000000;">Ethereum</h1>
    <div id="charts-container1" class="chart-container">
      <form id="charts-form8" class="list">
        <button id="charts-button9" class="button button-positive button-small button-clear icon ion-android-add"></button>
        <button id="charts-button10" class="button button-positive button-small button-clear icon ion-android-close"></button>
        <ion-item class="range range-positive" id="charts-range1">Hours
          <input type="range" value="12" min="1" max="24" step="1" name="time-range">
        </ion-item>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
      </form>
    </div>
    <div id="charts-container2" class="chart-container">
      <form id="charts-form9" class="list">
        <button id="charts-button11" class="button button-positive button-small button-clear icon ion-android-add"></button>
        <button id="charts-button12" class="button button-positive button-small button-clear icon ion-android-close"></button>
        <ion-item class="range range-positive" id="charts-range2">Hours
          <input type="range" value="5" min="1" max="24" step="1" name="time-range">
        </ion-item>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>