<ion-view title="Home" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-social-bitcoin"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading2" style="color:#000000;" class="currency-header">Ethereum</h1>
    <ion-list id="home-list6">
      <ion-item class="item-divider" id="home-list-item-divider1"> Current Price</ion-item>
    </ion-list>
    <ion-list id="home-list7">
      <ion-item class="item-icon-right balanced" id="home-list-item15">$ 5,432.10 MXN
        <i class="icon ion-android-sync"></i>
      </ion-item>
      <ion-item class="item-divider" id="home-list-item-divider2"> Min</ion-item>
      <ion-item class="item-icon-right energized" id="home-list-item16">$ 5,000.00 MXN
        <i class="icon ion-android-arrow-down"></i>
      </ion-item>
      <ion-item class="item-divider" id="home-list-item-divider3"> Max</ion-item>
      <ion-item class="item-icon-right assertive" id="home-list-item17">$ 6,543.21 MXN
        <i class="icon ion-android-arrow-up"></i>
      </ion-item>
      <ion-item class="item-divider" id="home-list-item-divider4"> Avg. Min</ion-item>
      <ion-item class="item-icon-right positive" id="home-list-item18">$ 5, 150.00 MXN
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
      <ion-item class="item-divider" id="home-list-item-divider5"> Avg. Max</ion-item>
      <ion-item class="item-icon-right royal" id="home-list-item19">$ 5, 350.00 MXN
        <i class="icon ion-android-arrow-dropup"></i>
      </ion-item>
    </ion-list>
    <div id="home-button-bar1" class="button-bar">
      <button id="home-button5" class="button button-positive button-block icon ion-ios-briefcase"></button>
      <button id="home-button6" class="button button-positive button-block icon ion-clock"></button>
      <button id="home-button7" class="button button-positive button-block icon ion-ios-cart"></button>
    </div>
  </ion-content>
</ion-view>